# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Generated/temp files
load_test_suite/temp/
load_test_suite/gendata/
load_test_suite/results/
*.exe

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
